In [94]:
import pandas as pd
import regex as re

dataset = pd.read_csv("train_trimmed.csv")
# display(dataset)

/var/folders/hv/7qy2pzkn7w16gvn7th_1g2fm0000gn/T/ipykernel_1844/2469928685.py:4: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv("train_trimmed.csv")

In [95]:
#Removing data with missing values equal to Nan 
dataset = dataset.dropna()

#drop the ID column
dataset = dataset.drop('ID', axis=1)

dataset['Annual_Income'] = dataset['Annual_Income'].str.replace('_', '')
dataset['Num_of_Delayed_Payment'] = dataset['Num_of_Delayed_Payment'].str.replace('_', '')
dataset['Num_of_Loan'] = dataset['Num_of_Loan'].str.replace('_', '')
dataset["Outstanding_Debt"] = dataset["Outstanding_Debt"].str.replace('_', '')
dataset["Monthly_Balance"] = dataset["Monthly_Balance"].str.replace('_', '')



#Remove the underscores from the age data entries 
dataset['Age'] = dataset['Age'].str.replace('_', '')
# display(dataset.head())

In [96]:
dataset['Age'] = dataset['Age'].astype(int)
dataset = dataset[(dataset['Age'] >= 0) & (dataset['Age'] < 100)]

#display the age range 
display(dataset['Age'].min())
display(dataset['Age'].max())

14

95

In [97]:
#Iterating and converting the credit history to numerical values  
for i in dataset['Credit_History_Age']:
    years = (re.findall(r'(\d+) Years', i))    
    months = (re.findall(r'(\d+) Months', i))
    total_months = int(years[0]) * 12 + int(months[0])
    dataset['Credit_History_Age'] = dataset['Credit_History_Age'].replace(i, total_months)

display(dataset)

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Num_of_Delayed_Payment,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Payment_Behaviour,Monthly_Balance,Credit_Score
0,23,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",7,4.0,809.98,26.822620,265,49.574949,High_spent_Small_value_payments,312.49408867943663,Good
6,23,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",8,4.0,809.98,22.537593,271,49.574949,Low_spent_Small_value_payments,244.5653167062043,Good
8,28,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,4,2.0,605.03,24.464031,319,18.816215,Low_spent_Small_value_payments,470.69062692529184,Standard
9,28,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,1,2.0,605.03,38.550848,320,18.816215,High_spent_Large_value_payments,484.5912142650067,Good
10,28,34847.84,3037.986667,2,1385,6,1,Credit-Builder Loan,-1,2.0,605.03,33.224951,321,18.816215,High_spent_Large_value_payments,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,25,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",6,3.0,502.38,39.323569,377,35.104023,High_spent_Medium_value_payments,NaN,Poor
99995,25,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",7,3.0,502.38,34.663572,378,35.104023,High_spent_Large_value_payments,NaN,Poor
99996,25,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",7,3.0,502.38,40.565631,379,35.104023,High_spent_Medium_value_payments,NaN,Poor
99997,25,39628.99,3359.415833,4,6,5729,2,"Auto Loan, and Student Loan",6,3.0,502.38,41.255522,380,35.104023,High_spent_Large_value_payments,NaN,Poor
99999,25,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",6,3.0,502.38,34.192463,382,35.104023,!@9#%8,NaN,Poor

In [93]:
#Need to convert columns with numerical values and assert that they are all numerical
dataset.apply(lambda s: pd.to_numeric(s, errors='coerce').notnull().all())

Age                          True
Annual_Income                True
Monthly_Inhand_Salary        True
Num_Bank_Accounts            True
Num_Credit_Card              True
Interest_Rate                True
Num_of_Loan                  True
Type_of_Loan                False
Num_of_Delayed_Payment       True
Num_Credit_Inquiries         True
Outstanding_Debt             True
Credit_Utilization_Ratio     True
Credit_History_Age           True
Total_EMI_per_month          True
Payment_Behaviour           False
Monthly_Balance             False
Credit_Score                False
dtype: bool

In [53]:
#SHOULD PROBABLY PERFORM OUTLIER DETECTION FOR THESE instead of hard coding the range

def remove_outliers(df, column, multiplier):
    # Calculate Q1 (25th percentile) and Q3 (75th percentile)
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    
    # Calculate IQR (Interquartile Range)
    IQR = Q3 - Q1
    
    # Define the lower and upper bounds for outlier detection
    lower_bound = Q1 - multiplier * IQR
    upper_bound = Q3 + multiplier * IQR
    
    # Filter outliers and return the DataFrame without outliers
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]


Columns = ['Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card','Interest_Rate', 'Num_of_Loan']
multiplier = 1.0  # Adjust strictness by changing the multipliers

dataset['Annual_Income'] = dataset["Annual_Income"].astype(float)
dataset['Annual_Income'].quantile(0.25)
dataset["Monthly_Balance"]
# for column in Columns:
#     df_filtered = remove_outliers(dataset, column, multiplier=multiplier)

0        312.49408867943663
6         244.5653167062043
8        470.69062692529184
9         484.5912142650067
10       466.46647639764313
                ...
99994                   NaN
99995                   NaN
99996                   NaN
99997                   NaN
99999                   NaN
Name: Monthly_Balance, Length: 59923, dtype: object

In [51]:
#One hot encoding for Type of loan 
# Find all unique regex matches with 'loan'
# loan_matches = list(set(re.findall(r'\w+ Loan', ' '.join(dataset['Type_of_Loan']))))
# print(loan_matches)

# Create a new column for each loan type
# dataset['Auto Loan'] = dataset['Type_of_Loan'].apply(lambda x: 1 if re.search(r'Auto Loan', x) else 0)
# dataset['Credit-Builder Loan'] = dataset['Type_of_Loan'].apply(lambda x: 1 if re.search(r'Credit-Builder Loan', x) else 0)
# dataset['Personal Loan'] = dataset['Type_of_Loan'].apply(lambda x: 1 if re.search(r'Personal Loan', x) else 0)
# dataset['Payday Loan'] = dataset['Type_of_Loan'].apply(lambda x: 1 if re.search(r'Payday Loan', x) else 0)
# dataset['Student Loan'] = dataset['Type_of_Loan'].apply(lambda x: 1 if re.search(r'Student Loan', x) else 0)
# dataset['Morgage Loan'] = dataset['Type_of_Loan'].apply(lambda x: 1 if re.search(r'Morgage Loan', x) else 0)
# dataset['Home Equity Loan'] = dataset['Type_of_Loan'].apply(lambda x: 1 if re.search(r'Home Equity Loan', x) else 0)
# dataset['Consolidation Loan'] = dataset['Type_of_Loan'].apply(lambda x: 1 if re.search(r'Consolidation Loan', x) else 0)

# Drop the original column
# dataset = dataset.drop('Type_of_Loan', axis=1)

# display(dataset)

In [52]:
# Perform one hot encoding for Payment_Behavior
# dataset = dataset[dataset['Payment_Behaviour'] != '!@9#%8']

# payment_encoded = pd.get_dummies(dataset['Payment_Behaviour'])
# payment_encoded = payment_encoded.astype(int)
# dataset = pd.concat([dataset, payment_encoded], axis=1)